body {
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  display: inline-block;
  text-decoration: none;
}

.container {
  margin: 0 auto;
  width: 90%;
}

.special-font {
  font-family: 'Anton', sans-serif;
  text-transform: uppercase;
}

.between {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.text-center {
  text-align: center;
}

.btn.primary {
  background: #2FABF7;
  color: #fff;
  font-weight: 500;
  padding: 2em 3em;
  border-radius: 0.4em;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.btn.primary:hover {
  background: #60BCF5;
  -webkit-box-shadow: 0 2em 4em rgba(0,0,0,0.1);
          box-shadow: 0 2em 4em rgba(0,0,0,0.1);
}

.btn.ghost {
  padding: 1em 1.5em;
  color: #fff;
  border: 2px solid rgba(255,255,255,0.4);
  border-radius: 100em;
  font-weight: 500;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.btn.ghost:hover {
  background: #fff;
  color: #0E2533;
}

.mainHeader {
  padding: 1em 0;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.mainHeader.is-fixed  {
  background: #0E2533;
}

.mainHeader__nav a {
  color: #fff;
  font-size: 1em;
}

.mainHeader__nav a + a{
  margin-left: 1em;
}

.intro {
  height: 85vh;
  background: url(../images/bg.png) no-repeat center #0E2533;
  background-attachment: fixed;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.intro__tagline {
  color: #fff;
  font-size: 4em;
}

.intro .btn.primary {
  margin: 1em 0;
}

.intro__text {
  color: #fff;
  display: block;
  font-size: 1.2em;
  font-weight: 400;
  padding: 1em 0;
}

.intro__mini {
  color: #fff;
  display: block;
  font-size: 1.2em;
  font-weight: 400;
  position: relative;
  width: 280px;
  margin: 0 auto;
}

.intro__mini i {
  font-style: italic;
  font-weight: 500;
}

.intro__mini:before {
  content: url(../images/arrow.svg);
  position: absolute;
  top: 0;
  -webkit-transform: translate( -120%, -100%);
          transform: translate( -120%, -100%);
  left: 0;;
}

.section {
  padding: 2em 0;
}

.section__subtitle,
.section__title {
  font-family: 'Anton', sans-serif;
  text-transform: uppercase;
  display: block;
  line-height: 1.4em;
}

.section__subtitle.white,
.section__title.white {
  color: #fff;
}

.section__subtitle {
  color: #F3C42B;
  font-size: 1.4em;
}

.section__subtitle.black {
  color: #1E1C37;
}

.section__title {
  font-size: 4em;
  color: #1E1C37;
}

.section__text {
  margin: 1em 0;
  font-size: 1.2em;
}

.section__text p {
  color: #747F91;
  line-height: 1.4em;
}

.section__text p + p {
  margin: 1em 0;
}

.section .columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section .columns.center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.what {
  background: #F5FAFD;
}

.services_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 14%;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  text-align: center;
  padding: 1em 0;
}

.services__item h3 {
  padding: 1em 0;
  font-weight: 500;
  color: #1E1C37;
}

.services__item i {
  width: 2em;
  height: 2em;
  font-size: 1.5em;
  background: #fff;
  -webkit-box-shadow: 0 1em 1em rgba(0,0,0,0.1);
          box-shadow: 0 1em 1em rgba(0,0,0,0.1);
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #F3C42B;
  border: 1px solid #F1F1F1;
}

.steps {
  padding-bottom: 2em;
}

.steps__list {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.steps__step {
  width: 33%;
  text-align: center;
  position: relative;
}

.steps__step h3 {
  font-size: 2em;
}

.steps__step p {
  color: #747F91;
  line-height: 1.4em;
  max-width: 80%;
  margin: 1em auto;
  font-size: 1.2em;
}

.steps__step p strong {
  color: #000;
  font-weight: 500;
}

.steps__step img {
  display: block;
  margin: 0 auto;
}

.sep {
  width: 200px;
  height: 10px;
  background: red;
  border-radius: 100em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background: rgba(243, 196, 43, 0.2);
}

.testimonials {
  background: url(../images/bg.png) no-repeat center #0E2533;
  background-size: cover;
  background-attachment: fixed;
}

.testimonial__item {
  background: #fff;
  padding: 2em;
  border-radius: 0.5em;
  -webkit-box-shadow: 0 1em 2em rgba(0,0,0,0.5);
          box-shadow: 0 1em 2em rgba(0,0,0,0.5);

  margin: 1em;
}

.testimonial__item img {
  width: 60px;
}

.testimonial__item h3 {
  color: #1E1C37;
  font-weight: 500;
}

.testimonial__item span {
  color: rgba(0,0,0,0.4);
}

.testimonial__item p {
  color: #747F91;
  margin: 1em 0;
}

.testimonial__item i {
  color: #FFBA32;
  font-size: 1.3em;
}

.download {
  background: url(../images/yellowbg.png) no-repeat center #F3C42B;
  background-size: cover;
  position: relative;
  padding: 4em 0;
  overflow: hidden;
}

.download p {
  font-size: 1.4em;
  color: #fff;
}

.download .buttons {
  margin: 2em 0;
}

.download:after {
  content: '';
  background:  url(../images/stripe.Png) repeat-x bottom center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;

}

.companies {
  background: url(../images/bg.png) no-repeat center #0E2533;
  background-attachment: fixed;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  text-align: center;
  padding: 5em 0;
}

.companies__text {
  color: rgba(255,255,255, 0.5);
  font-size: 1.1em;
  margin: 2em auto;
  max-width: 600px;
}

.enterprise__logos img {
  margin: 2em;
  display: inline-block;
  vertical-align: middle;
}

.contact {
  background: #fff;
}

.contact__column h4 {
  color: #1E1C37;
  font-weight: 500;
}

.contact__item {
  padding: 1em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__item a {
  color: #1E1C37;
  font-size: 2em;
}

.contact__item span {
  background: #F3C42B;
  width: 1.8em;
  height: 1.8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
  font-size: 2em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 1em;
}

.contact__column {
  padding: 1.5em;
}

.mainFooter {
  padding: 2em 0;
  color: #1E1C37;
}

.mainFooter a {
  color: #1E1C37;
}

.mainFooter .copyright {
  margin: 1em 0;
}

.mainFooter a.twitter {
  color: #3288F7;
  font-size: 1.4em;
}

.mainFooter a.facebook {
  color: #3D56C2;
  font-size: 1.4em;
}


@media screen and (max-width: 700px) {
  .mainHeader__nav a:not(.btn),
  .appImage { display: none; }

  .services__item {
    width: 33%;
  }

  .steps__step {
    width: 100%;
  }

  .steps__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .testimonials__list  {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .testimonial__item {
    width: 35%;
  }

  .enterprise__logos img {
    width: 7em;
  }

  .section .columns.center {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .contact__column {
    padding: 1em 0;
  }
}

@media screen and (max-width: 400px) {
  .intro__tagline {
    font-size: 2.5em;
  }

  .intro .btn.primary {
    width: 100%;
    text-align: center;
  }

  .section__title {
    font-size: 2.5em;
    width: 100%;
  }

  .steps {
    text-align: center;
  }

  .testimonial__item {
    width: 100%;
  }

  .intro__mini:before {
    display: none;
  }

  .mainFooter .between {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }

  .mainFooter .container div {
    margin: 1em 0;
  }
}